<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Moving Sale E-Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " href="/home">Home</a>
        <a class="nav-link" href="/products">Products</a>
        <a class="nav-link" href="/products/new">New Product</a>
      </div>
      <div class="navbar-nav ml-auto">
        <!-- here hava something be deleted -->
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <!-- here hava something be deleted -->
        <a class="nav-link" href="/logout">Logout</a>
        <!-- here hava something be deleted -->
      </div>
    </div>
  </div>
</nav>