<!-- this is the common thing in all page so we can use this to avoid doing duplicate work -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moving Sale E-Shop</title>
    <!-- we need to careful the link CDN may change its version and cause some code cannot work properly -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"></script>
    
    <!-- connect to home.css -->
    <link rel="stylesheet" href="/stylesheets/home.css">

</head>

<body class="d-flex flex-column text-white vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Moving Sale E-Shop</a>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link " href="/home">Home</a>
              <a class="nav-link" href="/about">About</a>
              <a class="nav-link" href="/products/new">Add</a>
              <a class="nav-link" href="/products">Products</a>
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/register">Register</a>
              <a class="nav-link" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    <!-- mt = magin top 5 pixal -->
    <main class="container mt-5">
        <div>
            <h2>About us</h2>
        
            It's usual to rent an unfurnished place.<br>
            <br>
            Pros: You can decorate as you like and you are used to. <br>
            Cons: It's troublesome when you need to relocate because you need to sell or throw these furniture by yourselves.<br>
            <br>
            We hear your voice.<br>
            Instead of posting on every social media, this is a grat platform which gathers not only sellers, but also buyers.<br>
            We set up this website for everyone's convinience.<br>
            Buyers no longer need ot browse tons of websites, and sellers have no need to post everywhere.<br>
            <br>
            <h4>Welcome!</h4>
        </div>
    </main>
    
    <!-- padding  y-axis top and bottom-->
    <footer class="footer bg-dark py-3 mt-auto">
      <div class="container">
          <span class="text-muted">&copf; Lai & Lee 2021</span>
      </div>
    </footer>

</body>

</html>
