<% layout('layouts/boilerplate') %>


<div>
    <h2>About us</h2>

    It's usual to rent an unfurnished place.<br>
    <br>
    Pros: You can decorate as you like and you are used to. <br>
    Cons: It's troublesome when you need to relocate because you need to sell or throw these furniture by yourselves.<br>
    <br>
    We hear your voice.<br>
    Instead of posting on every social media, this is a grat platform which gathers not only sellers, but also buyers.<br>
    We set up this website for everyone's convinience.<br>
    Buyers no longer need ot browse tons of websites, and sellers have no need to post everywhere.<br>
    <br>
    Welcome!
</div>