<!-- this is the common thing in all page so we can use this to avoid doing duplicate work -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link href="stylesheets/image/shop.png" rel="shortcut icon" type="image/ico" />
    <title>Moving Sale E-Shop</title>
    <!-- we need to careful the link CDN may change its version and cause some code cannot work properly -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"></script>
    <!-- connect to home.css -->
    <link rel="stylesheet" href="/stylesheets/add.css">

</head>

<body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Moving Sale E-Shop</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav w-100">
                    <a class="nav-link " href="/home">Home</a>
                    <a class="nav-link" href="/about">About</a>
                    <a class="nav-link" href="/products/new">Add</a>
                    <a class="nav-link" href="/products">Products</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <% if(!currentUser) {%>

                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/profile">Profile</a>
                    <a id="logout" class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
    <% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

    <% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

    <div class="middle">
        <div class="leftColumn">
            <form runat="server">
                <img id="preview_img" src="#" alt="Preview Here" />
            </form>
        </div>

        <div class="rightColumn">

            <div class="form-container">
                <h4>Product Information</h4>
                <form ACTION="/products/new" METHOD="POST" ENCTYPE="multipart/form-data" class="validated-form">

                    <div class="mb-3">
                        <label for="product_name">Product Name:</label>
                        <input  type="text" name="product_name" id="product_name" required />
                        <div class="valid-feedback">Looks good</div>
                    </div>

                    <div class="mb-3">
                        <label for="category">Category: </label>
                        <select name="category">
                            <option value="Clothes" selected>Clothes</option>
                            <option value="Furnitures">Furnitures</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="price">Price:</label>
                        <input  type="text" name="price" id="price" required />
                        <div class="valid-feedback">Looks good</div>
                    </div>


                    <div class="mb-3">
                        <label for="boughtDate">When did you buy:</label>
                        <input  type="text" name="boughtDate" id="boughtDate" required />
                        <div class="valid-feedback">Looks good</div>
                    </div>


                    <div class="mb-3">
                        <label for="product_photo">Picture:</label>
                        <input  type="file" name="product_photo" id="product_photo" required />
                        <div class="valid-feedback">Looks good</div>
                    </div>


                    <div class="mb-3">
                        <label for="Look like">Look like:</label>
                        <input type="radio" name="look_like" id="look_like" value="Look like new" />Look like
                        new
                        <input type="radio" name="look_like" id="look_like" value="Used" />Used

                    </div>




                    <div class="mb-3">
                        <label for="numberOfProduct">Number of Product:</label>
                        <select name="numberOfProduct">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>




                    <div class="mb-3"><label for="descript">Description:</label>
                        <textarea rows="3" cols="30" name="descript" placeholder="Describe your item..."></textarea>
                    </div>



                    <input type="submit" value="Add product" required />
                </form>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="/javascripts/validateForm.js"></script>

</body>


<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview_img').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#product_photo").change(function () {
        readURL(this);
    });
</script>

<!-- padding  y-axis top and bottom-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copf; Lai & Lee 2021</span>
    </div>
</footer>


</html>