<!-- this is the common thing in all page so we can use this to avoid doing duplicate work -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moving Sale E-Shop</title>
    <!-- we need to careful the link CDN may change its version and cause some code cannot work properly -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"></script>
    <!-- connect to home.css -->
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>


<body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Moving Sale E-Shop</a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/products/new">Add</a>
                <a class="nav-link" href="/products">Products</a>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <a class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    TODO LIST:<br />
    slide不能對齊 -> 圖片要跟框框一樣大<br />
    商品圖<br />

    <!-- mt = magin top 5 pixal -->
    <!-- <main class="container mt-5"> -->
    <div class="middleTop">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- class="d-block w-100" -->
                <img src="stylesheets/image/Bobo.JPG" alt="Cannot show the picture">
              </div>
              <div class="carousel-item">
                <img src="stylesheets/image/Bee.jpg"  alt="Cannot show the picture">
              </div>
              <div class="carousel-item">
                <img src="stylesheets/image/Bagel.jpg" alt="Cannot show the picture">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Prev</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="content" >
        <div v-for="(user, idx) in users" >
            mdfmlkdfmdl;{{user.productName}}
        </div>
    </div>
    <!-- </main> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script>
        console.log("fdfdjal")
        const va = new Vue({
        el: '#content',
        data: {
          errorMsg:  '',
          isEditing: {},
          users: []
        },
        created() {
          this.load();
        },
        methods: {
          load() {
            
            fetch('/graphql', {
              method: 'POST',
              headers: {"Content-Type": "application/json"},
              body: JSON.stringify({
                query: `
                query {
                    
                    products {
                            productName
                            productId
                            price
                            product_photo
                            look_like
                            numberOfProduct
                            boughtDate
                        }
                    
                  }
                `
              })
            })
              .then(async r => {
                if(!r.ok) throw new Error(await r.text());
                return r;
              })
              .then(r => r.json())
              .then(r => (this.users = r.data.products))
              // .then(console.log("hfuhd",JSON.parse(JSON.stringify(this.users))))
              .catch(this.flash)
          }
        }
    })
    </script>
    

</body>

<div class="middle">
    <!--Categories可視情況增減-->
    <div class="leftColumn">
        <ul>
            <li>Clothes</li>
                <ul>
                    <!--Connect with categorized query-->
                    <a href="/home"><li>Tops</li></a>
                    <li>Bottoms</li>
                    <li>Shoes</li>
                    <li>Accessories</li>
                    <li>Bags</li>
                </ul>
            <li>Furnitures
                <ul>
                    <li>Living room</li>
                    <li>Kitchen</li>
                    <li>Bedroom</li>
                    <li>Bathroom</li>
                </ul>
            </li>
        </ul>
    </div>

    <!--Connect Cloudinary-->
    <div class="rightColumn">
        <div class="imageBox">
            <img src="stylesheets/image/Bobo.JPG">

        </div>
    </div>
</div>

<script type="text/javascript">
    $('.carousel').carousel({
        interval:2000
    });
    // $('.carousel').carousel('cycle');
    // $('.carousel').carousel('prev');
    // $('.carousel').carousel('next');
</script>



<!-- padding  y-axis top and bottom-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copf; Lai & Lee 2021</span>
    </div>
</footer>

</html>
