<!-- this is the common thing in all page so we can use this to avoid doing duplicate work -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moving Sale E-Shop</title>
    <!-- we need to careful the link CDN may change its version and cause some code cannot work properly -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"></script>
    <!-- connect to home.css -->
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>


<body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Moving Sale E-Shop</a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link " href="/home">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/products/new">Add</a>
                <a class="nav-link" href="/products">Products</a>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <a class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    TODO LIST:<br />
    slide不能對齊<br />
    商品圖<br />

    <!-- mt = magin top 5 pixal -->
    <main class="container mt-5">

        <div class="slideshow-container">
            <div class="mySlides fade">
            <img src="stylesheets/image/Bobo.JPG" style="width:100px; height:100px" >
            <div class="numbertext">1 / 3</div>
            <div class="text">Bobo</div>
            </div>
        
            <div class="mySlides fade">
            <img src="stylesheets/image/Bee.jpg" style="width:100px; height:100px">
            <div class="numbertext">2 / 3</div>
            <div class="text">Bee</div>
            </div>
        
            <div class="mySlides fade">
            <img src="stylesheets/image/Bagel.jpg" style="width:100px; height:100px">
            <div class="numbertext">3 / 3</div>
            <div class="text">Bagel</div>
            </div>
            
        </div>
        <br>
        
        <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
        </div>
        <br>
    </main>

</body>

<div class="middle">
    <!--Categories可視情況增減-->
    <div class="leftColumn">
        <ul>
            <li>Clothes</li>
                <ul>
                    <!--Connect with categorized query-->
                    <a href="/home"><li>Tops</li></a>
                    <li>Bottoms</li>
                    <li>Shoes</li>
                    <li>Accessories</li>
                    <li>Bags</li>
                </ul>
            <li>Furnitures
                <ul>
                    <li>Living room</li>
                    <li>Kitchen</li>
                    <li>Bedroom</li>
                    <li>Bathroom</li>
                </ul>
            </li>
        </ul>
    </div>

    <!--Connect Cloudinary-->
    <div class="rightColumn">
        <div class="imageBox">
            <img src="stylesheets/image/Bobo.JPG">

        </div>
    </div>
</div>




<script type="text/javascript">
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 3000);
    };
</script>


<!-- padding  y-axis top and bottom-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copf; Lai & Lee 2021</span>
    </div>
</footer>

</html>
