<!-- this is the common thing in all page so we can use this to avoid doing duplicate work -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moving Sale E-Shop</title>
    <!-- we need to careful the link CDN may change its version and cause some code cannot work properly -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"></script>
    <!-- connect to home.css -->
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
</head>

<body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Moving Sale E-Shop</a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/products/new">Add</a>
                <a class="nav-link" href="/products">Products</a>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <a class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    TODO LIST:<br />

    <!-- mt = magin top 5 pixal -->
    <!-- <main class="container mt-5"> -->


</body>


<div class="middle">
    <div id="content" class="imageBox">

            <div class="leftColumn">
                <div class="imageBox">
                    <img v-if="productList.product_photo" :src="productList.product_photo" />
                    <img v-else src="stylesheets/image/Bee.jpg" />
                </div>
            </div>        

            <div class="rightColumn">
                <h4>Product Information</h4>

                <!-- {{productList.productName}} -->
                Product Name: {{productList.productName}}
                <br />
                Price: {{productList.price}}
                <br />
                When did you buy: {{productList.boughtDate}}
                <br />
                Look like: {{productList.look_like}}
                <br />
                Number of Product: {{productList.numberOfProduct}}
                <br />
                Description: {{productList.descript}}</label>
                <br />
            </div>
    </div>
</div>



<script>
    var currentURL = window.location.pathname
    console.log(currentURL)

    var product_id = currentURL.split('/')[3]
    console.log(product_id)
    console.log(typeof product_id);

    const va = new Vue({
    el: '#content',
    data: {
      errorMsg:  '',
      isEditing: {},
      productList: []
    },
    created() {
      this.load();
    },
    methods: {
      load() {      
        fetch('/graphql', {
          method: 'POST',
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({
            query: `
            query {
              product(productId:"`+product_id+`") {
                    productName
                    productId
                    price
                    product_photo
                    look_like
                    numberOfProduct
                    boughtDate
                    descript
                }
            }
            `
          })
        })
          .then(async r => {
            if(!r.ok) throw new Error(await r.text());
            return r;
          })
          .then(r => r.json())
          .then(r => (this.productList = r.data.product))
          .catch(this.flash)
      }
    }
  })
  </script>
  


<!-- padding  y-axis top and bottom-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copf; Lai & Lee 2021</span>
    </div>
</footer>

</html>
