<!-- this is the common thing in all page so we can use this to avoid doing duplicate work -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link href="stylesheets/image/shop.png" rel="shortcut icon" type="image/ico" />
    <title>Moving Sale E-Shop</title>
    <!-- we need to careful the link CDN may change its version and cause some code cannot work properly -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"></script>
    <link rel="stylesheet" href="/stylesheets/products.css">
</head>


<body class="d-flex flex-column vh-100">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Moving Sale E-Shop</a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/products/new">Add</a>
                <a class="nav-link" href="/products">Products</a>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <a class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    
    <!-- Slides -->
    <div class="middleTop">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- class="d-block w-100" -->
                <img src="https://res.cloudinary.com/ja841014/image/upload/v1620446364/MovingSale/Slide-1_yqfjnn.jpg" alt="Cannot show the picture">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/ja841014/image/upload/v1620446471/MovingSale/Slide-2_yy6rvx.jpg"  alt="Cannot show the picture">
              </div>
              <div class="carousel-item">
                <img src="https://res.cloudinary.com/ja841014/image/upload/v1620446473/MovingSale/Slide-3_bl1gev.jpg" alt="Cannot show the picture">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Prev</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>    

    <div class="middle">
      <!--Categories可視情況增減-->
      <div class="leftColumn">
          <ul>
              <li>Clothes</li>
                  <ul>
                      <!--Connect with categorized query-->
                      <li>Tops</li></a>
                      <li>Bottoms</li>
                      <li>Shoes</li>
                      <li>Accessories</li>
                      <li>Bags</li>
                  </ul>
              <li>Furnitures
                  <ul>
                      <li>Living room</li>
                      <li>Kitchen</li>
                      <li>Bedroom</li>
                      <li>Bathroom</li>
                  </ul>
              </li>
          </ul>
      </div>

      <div class="container">
          <div class="row" id="content">
                <div v-for="(product, idx) in productList"  class="col-lg-3 col-md-4 col-6 item">
                    <p><a :href="'/products/new/'+product.productId">
                      <img v-if="product.product_photo" :src="product.product_photo" />
                      <img v-else src="stylesheets/image/Bee.jpg" />
                    </a></p>
                </div>
          </div>
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>




<script type="text/javascript">
    $('.carousel').carousel({
        interval:2000
    });
</script>


<script>
  const va = new Vue({
  el: '#content',
  data: {
    errorMsg:  '',
    isEditing: {},
    productList: []
  },
  created() {
    this.load();
  },
  methods: {
    load() {      
      fetch('/graphql', {
        method: 'POST',
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
          query: `
          query {
              
              products {
                      productName
                      productId
                      price
                      product_photo
                      look_like
                      numberOfProduct
                      boughtDate
                  }
            }
          `
        })
      })
        .then(async r => {
          if(!r.ok) throw new Error(await r.text());
          return r;
        })
        .then(r => r.json())
        .then(r => (this.productList = r.data.products))
        .catch(this.flash)
    }
  }
})
</script>


<!-- padding  y-axis top and bottom-->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copf; Lai & Lee 2021</span>
    </div>
</footer>

</html>
