<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"></script>

    <link href="/stylesheets/profile.css" rel="stylesheet">
    <title>Resume</title>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" id="page-top">
    
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id = "topNav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">YelpCamp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link " href="/">Home</a>
              <a class="nav-link" href="/campgrounds">Campgrounds</a>
              <a class="nav-link" href="/campgrounds/new">New Campgrounds</a>
            </div>
            <div class="navbar-nav ml-auto" >
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/register">Register</a>
              <a class="nav-link" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </nav>

    <div class="container">
        <div class="row">
            
            <div class="col-sm">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="sideNav">
                    
                    <a class="navbar-brand js-scroll-trigger" href="#page-top">
                        <span class="d-block d-lg-none">YelpCamp</span>
                        <span class="d-none d-lg-block">
                        <img class="img-fluid img-profile mx-auto mb-2" src="img/profile.jpg" alt="">
                        </span> 
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link active js-scroll-trigger" href="#Information">Information</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#History">History</a>
                        </li>

                        </ul>
                    </div>
                    
                    <footer class="mt-auto text-white-50" id="copyright">
                        <p>&copy; 2021 </p>
                    </footer>
                </nav>

                <div id="content" class="container-fluid p-0">
                    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="Information">
                        <div class="my-auto">
                            <div id="mydiv" data-test=<%= currentUser._id %>></div>


                            <h1 class="mb-0 text-dark"> Hello, {{ users.userName }} </h1>

                              <div>
                                Account: 
                                <input type="text" v-model="users.account" :disabled="!isEditing[0]" :class="{view: !isEditing[0]}">
                                <button @click="$set(isEditing, 0, true)" v-if="!isEditing[0]">
                                  Edit
                                </button>
                                <button @click="save(0); $set(isEditing, 0, false);" v-if="isEditing[0]">
                                  Save
                                </button>
                                <button @click="del(0); $set(isEditing, 0, false);" v-if="isEditing[0]">
                                  Delete
                                </button>        
                                <button @click="$set(isEditing, 0, false)" v-if="isEditing[0]">
                                  Cancel
                                </button>
                              </div>
                              <!-- <div>{{ users.account }}</div> -->
                              <div>{{ users.email }} </div>
                              <div>  {{ users.pass }}</div>




                              
                            
                            
                        </div>
                    </section>

                    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="History">
                        <div>
                            <h1> History</h1>
                            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                                <div class="resume-content mr-auto">
                                    <h3 class="mb-0">University of Southern California (USC), Los Angeles, CA</h3>
                                    <div class="subheading mb-3"><I>Master of Science, Electrical Engineering</I></div>
                                    <ul>
                                        <li>Introduction of Computer Network</li>
                                        <li>Analysis of Algorithms</li>
                                        <li>Software Design and Optimization</li>
                                        <li>Computing and Software for Systems Engineers</li>
                                        <li>Applied and Cloud Computing for Electrical Engineers</li>

                                    </ul>
                                </div>
                                <div class="resume-date text-md-right">
                                    <span class="text-black">Aug. 2019 – May 2021</span>
                                </div>
                                
                            </div>

                        </div>
                    </section>
                </div> 
        
            </div>
        </div>
    </div>

  


    <script>
      var userID = document.getElementById('mydiv').dataset.test
      console.log(userID);
      const va = new Vue({
        el: '#content',
        data: {
          errorMsg:  '',
          isEditing: {},
          users: []
        },
        created() {
          this.load();
        },
        methods: {
          load() {
            
            fetch('/graphql', {
              method: 'POST',
              headers: {"Content-Type": "application/json"},
              body: JSON.stringify({
                query: `
                query {
                    user(userId: "`+userID+`") {
                      userName
                      account
                      email
                      pass
                    }
                  }
                `
              })
            })
              .then(async r => {
                if(!r.ok) throw new Error(await r.text());
                return r;
              })
              .then(r => r.json())
              .then(r => (this.users = r.data.user))
              .catch(this.flash)
          },
          save(idx) {
            const { account, user_id } = this.users[idx];

            // validation

            const opts = {
              method: 'POST',
              body: JSON.stringify({ account }),
              headers: {
                'Content-Type': 'application/json'
              }
            };

            return fetch(`/api/user/${user_id}`, opts)
              .then(async r => {
                if (!r.ok) throw new Error(await r.text());
                return r;
              })
              .then(this.load)
              .catch(this.flash)
            
          },
          del(idx) {
            const { user_id } = this.users[idx];
            return fetch(`/api/user/${user_id}`, { method: 'DELETE' })
              .then(async r => {
                if (!r.ok) throw new Error(await r.text());
                return r;
              })
              .then(() => this.users.splice(idx, 1))
              .catch(this.flash)
              .then(this.load);

          },
          flash(msg) {
            this.errorMsg = msg
          }
        }
      })
    </script>

    
</body>
</html>